charts/*.tgz
.env
k3d-storage/
terraform/local.auto.tfvars
terraform/.authentik-app-providers.sh
terraform/.nextcloud-promote-admin.sh
terraform/.gitlab-promote-admin.sh
terraform/.gitlab-runner-auth-token.sh

/**/*/node_modules/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/tfplan
helm/**/tmpcharts*/
