import { Test, type TestingModule } from '@nestjs/testing';
import { AppResolver } from './app.resolver';
import { AppService } from './app.service';

describe('AppResolver', () => {
  let resolver: AppResolver;

  beforeEach(async () => {
    const mod: TestingModule = await Test.createTestingModule({
      providers: [AppService, AppResolver],
    }).compile();

    resolver = mod.get<AppResolver>(AppResolver);
  });

  it('resolves the hello query', () => {
    expect(resolver.hello()).toBe('Hello, world');
  });
});
